@model List<Article>
@inject Microsoft.AspNetCore.Identity.UserManager<User> userManager
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@{
    ViewData["Title"] = localizer["title1"];
}

<h1>@localizer["title1"]</h1>

<div class="table-wrapper">
    <table class="alt">
        <thead>
            <tr>
                <th>@localizer["title"]</th>
                <th>@localizer["author"]</th>
                <th>@localizer["action"]</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var article in Model)
            {
                var uid = article.UserId;

                var username = uid == null ? "NoName" : userManager.FindByIdAsync(uid).Result.UserName;
                <tr>
                    <td>@article.Title</td>
                    <td>@username</td>
                    <td>
                        <ul class="actions">
                            <li><a asp-area="admin" asp-controller="Home" asp-action="EditArticle" asp-route-articleid="@article.Id" class="button">@localizer["edit"]</a></li>
                            <li><a asp-area="admin" asp-controller="Home" asp-action="DeleteArticle" asp-route-articleid="@article.Id" class="button">@localizer["del"]</a></li>
                        </ul>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>