@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@{
    ViewData["Title"] = localizer["title"];
}

<section>
    <div>
        <ul>
            <li>
                <a asp-area="admin" asp-controller="Home" asp-action="Users">@localizer["users"]</a>
            </li>
            <li>
                <a asp-area="admin" asp-controller="Home" asp-action="Articles">@localizer["articles"]</a>
            </li>
            <li>
                <a asp-area="admin" asp-controller="Home" asp-action="Reports">@localizer["reports"]</a>
            </li>
            <li>
                <a asp-area="admin" asp-controller="Home" asp-action="ArticleCategories">@localizer["articleCat"]</a>
            </li>
            <li>
                <a asp-area="admin" asp-controller="Home" asp-action="ReportCategories">@localizer["reportCat"]</a>
            </li>
        </ul>
    </div>
</section>