@model IQueryable<Report>
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@{
    ViewData["Title"] = localizer["title"];
}

<h1>@localizer["title"]</h1>

<div class="table-wrapper">
    <table class="alt">
        <thead>
            <tr>
                <th>@localizer["reason"]</th>
                <th>@localizer["article"]</th>
                <th>@localizer["action"]</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var report in Model)
            {
                <tr>
                    <td>@report.ReportCategory.Name</td>
                    <td>@report.Article.Title</td>
                    <td>
                        <ul class="actions">
                            <li><a asp-area="admin" asp-controller="Home" asp-action="EditArticle" asp-route-articleid="@report.ArticleId" class="button">@localizer["edit"]</a></li>
                            <li><a asp-area="admin" asp-controller="Home" asp-action="DeleteReport" asp-route-articleid="@report.ArticleId" asp-route-categoryid="@report.ReportCategoryId" asp-route-userid="@report.UserId" class="button">@localizer["delReport"]</a></li>
                        </ul>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>