@model IQueryable<ReportCategory>
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@{
    ViewData["Title"] = localizer["title"];
}

<h1>@localizer["title"]</h1>

<div class="table-wrapper">
    <table class="alt">
        <thead>
            <tr>
                <th>@localizer["name"]</th>
                <th>@localizer["action"]</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in Model)
            {
                <tr>
                    <td>@category.Name</td>
                    <td>
                        <ul class="actions">
                            <li><a asp-area="admin" asp-controller="Home" asp-action="EditReportCategory" asp-route-id="@category.Id" class="button">@localizer["edit"]</a></li>
                            <li><a asp-area="admin" asp-controller="Home" asp-action="DeleteReportCategory" asp-route-id="@category.Id" class="button">@localizer["del"]</a></li>
                        </ul>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div>
        <a asp-area="admin" asp-controller="Home" asp-action="EditReportCategory" class="button">@localizer["add"]</a>
    </div>
</div>