@model IEnumerable<string>

<ul>
    @foreach (var str in Model)
    {
        <li><a asp-area="" asp-controller="@ViewBag.contr" asp-action="@ViewBag.actn" asp-route-name="@str"asp-route-id="@ViewBag.aid">@str</a></li>
    }
</ul>