@model Blog.Models.ViewComponents.Information
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

<ul>
    <li><a>@localizer["unum"]: @Model.UsersCount</a></li>
    <li><a>@localizer["anum"]: @Model.ArticlesCount</a></li>
    <li><a>@localizer["cnum"]: @Model.CommentsCount</a></li>
</ul>