@model IQueryable<Article>
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@{
    ViewData["Title"] = localizer["title"];
}


<section>
    <div class="posts">
        @if (Model != null)
        {
            @foreach (Article article in Model)
            {
                var path = "";
                @if (article.ImagePath != null)
                {
                    path = article.ImagePath;
                }
                else
                {
                    path = "no_image.jpg";
                }
                <article>
                    <a asp-area="" asp-controller="Blog" asp-action="Show" asp-route-id="@article.Id" class="image"><img src="~/images/@path" alt="" height="310" /></a>
                    <h2>@article.Title</h2>
                    <ul class="icons">
                        <li>
                            <strong> @article.ArticleLikes.Count()  </strong>
                        </li>
                        <li>
                            <a asp-controller="Blog" asp-action="ArticleLike" asp-route-id="@article.Id" asp-route-cntrl="Home" asp-route-actn="Index" class="icon fa fa-thumbs-up" aria-hidden="true"></a>
                        </li>
                    </ul>
                    @*@Html.Raw(article.Text)*@
                    <ul class="actions">
                        <li><a asp-area="" asp-controller="Blog" asp-action="Show" asp-route-id="@article.Id" class="button">@localizer["more"]</a></li>
                    </ul>
                </article>
            }
        }
    </div>
</section>