@model IQueryable<Article>
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@{
    ViewData["Title"] = localizer["title"];
}


<section>
    <div class="posts">
        @if (Model != null)
        {
            @foreach (Article article in Model)
            {
                var path = "";
                @if (article.ImagePath != null)
                {
                    path = article.ImagePath;
                }
                else
                {
                    path = "no_image.jpg";
                }
                <article>
                    <a asp-area="" asp-controller="Blog" asp-action="Show" asp-route-id="@article.Id" class="image"><img src="~/images/@path" alt="" height="310" /></a>
                    <h2>@article.Title</h2>
                    <ul class="icons">
                        <li>
                            <strong id="@("likeNum" + article.Id)"> @article.ArticleLikes.Count()  </strong>
                        </li>
                        <li>
                            <i id="@("like" + @article.Id)" class="icon fa fa-thumbs-up" aria-hidden="true"></i>
                        </li>
                    </ul>
                    @*@Html.Raw(article.Text)*@
                    <ul class="actions">
                        <li><a asp-area="" asp-controller="Blog" asp-action="Show" asp-route-id="@article.Id" class="button">@localizer["more"]</a></li>
                    </ul>
                </article>
            }
        }
    </div>
</section>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script type="text/javascript">
    $.ajax({
        type: 'GET',
        url: '@Url.Action("GetArticles", "Blog")',
        accept: 'application/json',
        data: {
            
        },
        success: function (data) {
            for (let i of data) {
                let likeButton = document.getElementById("like" + i.id);
                likeButton.onclick = (e) => {
                    $.ajax({
                        type: 'GET',
                        url: '@Url.Action("LikeNumber", "Blog")',
                        accept: 'application/json',
                        data: {
                            id : i.id,
                        },
                        success: function (data) {
                            console.log(data)
                            let likeNumber = document.getElementById("likeNum" + i.id);
                            likeNumber.innerHTML = data.num;
                            //if (data.isSet) {
                            //    likeButton.classList.remove("likeUnSet");
                            //}
                            //else {
                            //    likeButton.classList.add("likeUnSet")
                            //}
                        }
                    });
                }
            }
        }

    });
</script>