@model IQueryable<Article>

@{
    ViewData["Title"] = "Новое";
}

<!-- Section -->
<section>
    <div class="posts">
        @if (Model.Any())
        {
            @foreach (Article article in Model)
            {
                var path = "";
                @if (article.ImagePath!= null)
                {
                     path = article.ImagePath;
                }
                else
                {
                    path = "no_image.jpg";
                }
                <article>
                    <a asp-area="" asp-controller="Blog" asp-action="Show" asp-route-id="@article.Id" class="image"><img src="~/images/@path" alt="" height="310" /></a>
                    <h2>@article.Title</h2>
                    @*@Html.Raw(article.Text)*@
                <ul class="actions">
                    <li><a asp-area="" asp-controller="Blog" asp-action="Show" asp-route-id="@article.Id" class="button">Подробнее</a></li>
                    <li><a asp-area="" asp-controller="Blog" asp-action="Edit" asp-route-id="@article.Id" class="button">Редактировать</a></li>
                    <li><a asp-area="" asp-controller="Blog" asp-action="Delete" asp-route-id="@article.Id" class="button">Удалить</a></li>
                </ul>
                </article>
            }
        }
    </div>
</section>