@model IQueryable<Article>
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@{
    ViewData["Title"] = localizer["title"];
}

<!-- Section -->
<section>
    <div class="posts">
        @if (Model.Any())
        {
            @foreach (Article article in Model)
            {
                var path = "";
                @if (article.ImagePath != null)
                {
                    path = article.ImagePath;
                }
                else
                {
                    path = "no_image.jpg";
                }
                <article>
                    <a asp-area="" asp-controller="Blog" asp-action="Show" asp-route-id="@article.Id" class="image"><img src="~/images/@path" alt="" height="310" /></a>
                    <h2>@article.Title</h2>
                    @*@Html.Raw(article.Text)*@
                    <ul class="actions">
                        <li><a asp-area="" asp-controller="Blog" asp-action="Show" asp-route-id="@article.Id" class="button">@localizer["more"]</a></li>
                        <li><a asp-area="" asp-controller="Blog" asp-action="Edit" asp-route-id="@article.Id" class="button">@localizer["edit"]</a></li>
                        <li><a asp-area="" asp-controller="Blog" asp-action="Delete" asp-route-id="@article.Id" class="button">@localizer["del"]</a></li>
                    </ul>
                    @*<form asp-area="" asp-controller="Blog" asp-action="Delete" method="post">
                            <input type="submit" value="Удалить" />
                        </form>*@
                </article>
            }
        }
    </div>
</section>